<head>
    <title>{{ title }}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="customer support platform">
    <meta name="keywords" content="osTicket, Customer support system, support ticket system">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets -->
	<link rel="stylesheet" href="{{root_path}}css/osticket.css" media="screen">
    <link rel="stylesheet" href="{{asset_path}}css/theme.css" media="screen">
    <link rel="stylesheet" href="{{asset_path}}css/print.css" media="print">
    <link rel="stylesheet" href="{{root_path}}scp/css/typeahead.css" media="screen" />
    <link type="text/css" href="{{root_path}}css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href={{root_path}}css/jquery-ui-timepicker-addon.css" media="all">
    <link rel="stylesheet" href="{{root_path}}css/thread.css" media="screen">
    <link rel="stylesheet" href="{{root_path}}css/redactor.css" media="screen">
    <link type="text/css" rel="stylesheet" href="{{root_path}}css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{{root_path}}css/flags.css">
    <link type="text/css" rel="stylesheet" href="{{root_path}}css/rtl.css"/>
    <link type="text/css" rel="stylesheet" href="{{root_path}}css/select2.min.css">
    <!-- Favicons -->
    <link rel="icon" type="image/png" href={{root_path}}images/oscar-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{root_path}}images/oscar-favicon-16x16.png" sizes="16x16" />
    <!-- Javascripts -->
    <script type="text/javascript" src="{{root_path}}js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{{root_path}}js/jquery-ui-1.12.1.custom.min.js"></script>
    <script type="text/javascript" src="{{root_path}}js/jquery-ui-timepicker-addon.js"></script>
    <script src="{{root_path}}js/osticket.js"></script>
    <script type="text/javascript" src="{{root_path}}js/filedrop.field.js"></script>
    <script src="{{root_path}}scp/js/bootstrap-typeahead.js"></script>
    <script type="text/javascript" src="{{root_path}}js/redactor.min.js"></script>
    <script type="text/javascript" src="{{root_path}}js/redactor-plugins.js"></script>
    <script type="text/javascript" src="{{root_path}}js/redactor-osticket.js"></script>
    <script type="text/javascript" src="{{root_path}}js/select2.min.js"></script>
    <!-- TODO Add custom extra headers -->
    <!-- TODO Offer alternate links for search engines (see header.inc.php -->
</head>
